<div class="titre-catalogue">
	<h1 class='titre-page'>A propos</h1>
	<nav aria-label="breadcrumb" class="fil_arianne">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/" class="lien">Accueil</a></li>
			<li class="breadcrumb-item" aria-current="page"><a href="/apropos" class="lien" style="color: black;"><strong>A propos</strong></a></li>
		</ol>
	</nav>
</div>
<section class="intro">
	  <h2>Qui somme nous ?</h2>
	  <p>Time Capsule vous propose de loyer de chambre d'hotel confortable et luxieuse. Mais ce n'est pas tout, TCL est le seul hotel a proposer des capsules temporelle. Le principe est simple votre chambre possede une porte mennant vers un bout d'histoire visitable sur le longterme et a plusieur reprise. Grace a cette technologie vous pouvez assister a des événement historique comme le débarquement de Normandie.</p>
	  <p><b>Attention</b> aucun des articles proposer n'est réelement a vendre !</p>
	  <h2>L'Histoire de l'entreprise</h2>
	  <p>Time Capsule Lodge est un site web développé par Cyan Henaff et Louanne Dronne dans le cadre d'un projet universitaire (SAÉ 301). Aucun produit ne sera délivré à la fin de votre réservation.</p>
	</section>

	<nav class="accordion arrows">
	    <header class="box">
	      <label for="acc-close" class="box-title">Restons en contact</label>
	    </header>
	    <input type="radio" name="accordion" id="cb1" />
	    <section class="box">
	      <label class="box-title" for="cb1">Idée de chambre ?</label>
	      <label class="box-close" for="acc-close"></label>
	      <div class="box-content">
	      	<form method="post" >
			  	<label for="nom">Nom :</label>
		        <input type="text" class="form-control custom-input" id="nom" name="nom" >
		        <label for="prenom">Prénom :</label>
		        <input type="text" class="form-control custom-input" id="prenom" name="prenom" >
		        <label for="email">Email :</label>
		        <input type="email" id="email" name="email" />
		        <label for="message">Proposition de chambre :</label>
		        <textarea id="message" name="message" rows="5" ></textarea>
		        <input type="submit" class='btn btn-warning' value="Envoyer"/>
		    </form>
	      </div>
	    </section>
	    <input type="radio" name="accordion" id="cb2" />
	    <section class="box">
	      <label class="box-title" for="cb2">Contactez nous</label>
	      <label class="box-close" for="acc-close"></label>
	      <div class="box-content">
	      	        <form method="post" >
				        <label for="nom">Nom :</label>
				        <input type="text" class="form-control custom-input" id="nom" name="nom" >
						<label for="prenom">Prénom :</label>
		        		<input type="text" class="form-control custom-input" id="prenom" name="prenom" >
				        <label for="email">Email :</label>
				        <input type="email" id="email" name="email" />
				        <label for="message">Message :</label>
				        <textarea id="message" name="message" rows="5" ></textarea>
				        <input type="submit" class='btn btn-warning' value="Envoyer"/>
				    </form>
			</div>
	    </section>
	   
	    <input type="radio" name="accordion" id="acc-close" />
	  </nav>