<footer class="footer bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h4>À propos</h4>
          <p>Time Capsule vous propose de loyer de chambre d'hotel confortable et luxieuse. Mais ce n'est pas tout, TCL est le seul hotel a proposer des capsules temporelle. Le principe est simple votre chambre possede une porte mennant vers un bout d'histoire visitable sur le longterme et a plusieur reprise. Grace a cette technologie vous pouvez assister a des événement historique comme le débarquement de Normandie.</p>
        </div>
        <div class="col-lg-3">
          <h4>Liens utiles</h4>
          <ul class="list-unstyled">
            <li ><a class="nav-link underline" href="/">Accueil</a></li>
            <li ><a class="nav-link underline" href="/apropos">À propos et contact</a></li>
            <li ><a class="nav-link underline" href="/mentionslegales">Mentions légales</a></li>
          </ul>
        </div>
        <div class="col-lg-3">
          <h4>Contact</h4>
          <ul class="list-unstyled">
            <li><i ></i>+687 14.17.89</li>
            <li><i></i>time.capsule@gmail.lodge</li>
            <li><i ></i> 20 rue de l’Espace Temps, à Y</li>
          </ul>
        </div>
      </div>
    </div>
  </footer>