
<style>
    .contenu-caché {
      display: none;
    }
  </style>

<div class="titre-catalogue" style="margin-top: 10%">
    <h1 class='titre-page'>Frise chronologique de nos chambres</h1>
    <nav aria-label="breadcrumb" class="fil_arianne ms-5">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Main" class="lien">Accueil</a></li>
            <li class="breadcrumb-item" aria-current="page"><a href="/lieu" class="lien" style="color: black;"><strong>Lieu</strong></a></li>
        </ol>
    </nav>
</div>
<form action="/lieu/filtre_lieu" method="post" class="d-flex justify-content-around">
    <input class="btn btn-warning" type="submit" value="Afrique" name="lieu[]" id="btn1">
    <input class="btn btn-warning" type="submit" value="Amérique du Nord et du Sud" name="lieu[]" id="btn2">
    <input class="btn btn-warning" type="submit" value="Europe" name="lieu[]" id="btn3">
    <input class="btn btn-warning" type="submit" value="Asie" name="lieu[]" id="btn4">
    <input class="btn btn-warning" type="submit" value="Moyen-Orient" name="lieu[]" id="btn5">
    <input class="btn btn-warning" type="submit" value="Océanie" name="lieu[]" id="btn6">
</form>
<!--<?php
if($articles===[]){
      echo "<h3 style='text-align: center; color: rgb(87, 87, 87); margin-bottom: 10%; margin-top: 5%;'>Aucune chambre ne correspond à votre recherche.</br>Veuillez réessayer.</h3>";
  }else {?>-->
    <section class="timeline catalogue">
    <div class="container ">
        
        <div class="timeline-item " *ngFor="let elt of monTableau">
            <div class="timeline-img"></div>
            <div class="card timeline-content timeline-card" style="width: 25rem;" >
                <img src="/assets{{elt.image}}" class="card-img-top img"  alt="{{elt.alt}}">
                <div class="date">{{elt.annee}}</div>
                <div class="card-body ">
                    <h5 class="card-title"><b>{{elt.titre}}</b></h5>
                    <p class="card-text">{{elt.contenu}}</p>
                    <h4 class="price">{{elt.prix}} XPF</h4>

                    <div class="form-group">
                        <label for="date-arrivee">Date d'arrivée :</label>
                        <input type="date" name="date-arrivee" class="form-control" id="date-aller" data-type="date-arrivee">
                    </div>

                    <div class="form-group">
                        <label for="date-depart">Date de départ :</label>
                        <input type="date" name="date-depart" class="form-control" id="date-retour" data-type="date-depart">
                    </div>

                    <div class="btn-card">
                        <a href="/lieu/detail-chambre/{{elt.slug}}" class="btn btn-dark btn-lg ms-3 voirplus lien-card" data-id="{{elt.id}}">Voir +</a>
                        <a class="ms-3 btn btn-warning add-to-card btn-circle p-2 link-offset-2 link-underline link-underline-opacity-0 lien-card" data-id="{{elt.id}}">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-add-to-card me-2" viewBox="0 0 16 16">
                            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    </section>

<!--<?php }?>-->