/*Navbar*/
.nav-link{
  color: rgb(255, 192, 32);
  font-size: large;
  text-decoration: none;
}
.nav-link:hover{
  border-bottom: 1px solid white;
  color: white;
  text-decoration: none;
}
.a-nav{
  width: 5%;
}
.logo{
  width: 100%;
}
.login{
  right: 12%;
}
.register, .deconnexion{
  right: 7%;
}
/*bouton rond*/
.btn-circle.btn-lg {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
  background-color: rgb(255, 192, 32);
  color: black;
  border: solid rgb(255, 192, 32);
}
.btn-circle {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 10px;
}
.btn-circle:hover{
  background-color: black;
  color: rgb(255, 192, 32);
}
.fleche.btn-circle:hover{
  background-color: rgba(255, 192, 32,0.8);
}
.fleche.btn-circle{
  background-color: rgba(255, 192, 32,0.5);
  border: none;
}
.card-body .btn-circle:hover{
  background-color: rgb(233, 233, 233);
  color: black;
}
/*pour le nb de produir au niveau du panier*/
#nb{
  position: absolute;
  right: 2%;
  bottom: 38%;
}
/*formulaire de renseignement avant de payer*/
#container{
  position: relative;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 30px;
  box-shadow: 0em 0 .4em rgb(149, 149, 149);
  padding: 2%;
  margin-top: 2%;
  left: 35%;
  background-color: rgb(37, 37, 37);
}

#btn-payer{
  margin-top: 15%;
  padding-left: 8%;
  padding-right: 8%;
}



.element{
  margin-top: 6.5%;
}

.underline{
  width: 25%;
}
footer{
  padding-top: 1%;
  z-index: 3;
}
/*css d'une carte d'un produit*/
.card{
  background-color: rgb(233, 233, 233);
}
.btn-card{
  display: flex;
  justify-content: center;
}
.voirplus{
  height: 100%;
}
.voirplus:hover{
  background-color: rgb(233, 233, 233);
  color: rgb(27, 27, 27);
}
svg{
  width: 100%;
}
.navbar{
  position: fixed;
  z-index: 50;
  top: 0;
  width: 100%;
}
/*fil arianne et titre sur les pages du catalogue*/
.titre-catalogue{
  width: 100%;
  margin-top: 3.5%;
}
.fil_arianne{
  margin-top: 6%;
}
.titre-page{
  text-align: center;
}
.lien{
  text-decoration: none;
  color: rgb(87, 87, 87);
}
/*Note étoilé des avis utilisateurs*/
.checked {
  color: orange;
}