#container{
    position: relative;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0em 0 .4em rgb(149, 149, 149);
    padding: 2%;
    color: white;
    margin-top: 10%;
    margin-bottom: 2%;
    left: 35%;
    background-color: rgb(37, 37, 37);
  }
  
  #btn-payer{
    margin-top: 15%;
    padding-left: 8%;
    padding-right: 8%;
  }
  
  